@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: 255, 255, 255;
    --bg-secondary: 245, 246, 247;
    --bg-tertiary: 238, 238, 238;

    --text-primary: 0, 0, 0;
    --text-secondary: 56, 63, 74;
    --text-tertiary: 255, 255, 255;
  }

  .fire {
    --bg-primary: 255, 0, 0;
    --bg-secondary: 255, 154, 0;
    --bg-tertiary: 255, 232, 8;

    --text-primary: 0, 0, 0;
    --text-secondary: 56, 63, 74;
    --text-tertiary: 255, 255, 255;
  }
}

html,
body {
  height: 100%;
}

#root {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.main {
  background-image: radial-gradient(
    circle at 1px 1px,
    rgb(184, 184, 184) 1px,
    transparent 0
  );
  background-size: 15px 10px;
}

button:disabled {
  opacity: 25%;
}

.error {
  outline-color: red;
}

.custom-shape-divider-bottom-1652808131 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 1;
}

.custom-shape-divider-bottom-1652808131 svg {
  position: relative;
  display: block;
  width: calc(109% + 1.3px);
  height: 192px;
}

.custom-shape-divider-bottom-1652808131 .shape-fill {
  fill: #4fcfd9;
}
